<!doctype html>
<html lang=ja data-engine="" data-action="defalt">
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[% title %]</title>
  </head>
  <body>
    <header id="global-header">
      <div class="menu">
        [% IF c.user %]
        <a href="/">all articles</a>
        <a href="/[% c.user.name %]">my diary</a>
        <a id='sign-out'>sign out</a>
        [% ELSE %]
        <a href="/signin">sign in</a>
        [% END %]
      </div>
    </header>

    <article id="content">
      [% content %]
    </article>

    <footer id="global-footer">
      Made by voidsatisfaction
    </footer>
    <script type="text/javascript">
      function signOut() {
        const req = new XMLHttpRequest();

        req.onreadystatechange = function() {
          if (req.readyState === 4 && req.status === 200) {
            window.location.href = '/';
          }
        };

        req.open('POST', '/signout');
        req.send();
      }
      const signOutButton = document.querySelector("#sign-out");
      signOutButton.addEventListener('click', signOut);
    </script>
    <script type="text/javascript" src="/js/main.js" ></script>
  </body>
</html>
