<!doctype html>
<html lang=ja data-engine="" data-action="defalt">
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[% title %]</title>
  </head>
  <body>
    <header id="global-header">
      <div class="menu">
        [% IF c.user %]
        <a href="/">all articles</a>
        <a href="/article/me">my article</a>
        [% ELSE %]
        <a href="/signin">sign in</a>
        [% END %]
      </div>
    </header>

    <article id="content">
      [% content %]
    </article>

    <footer id="global-footer">
      Made by voidsatisfaction
    </footer>
  </body>
</html>
