[% WRAPPER '_wrapper.tt' WITH title = "Intern::Diary::All" %]
<div class="row articles-container">
  <p>Intern-Diary</p>
  <div class="articles">

  </div>
  <div class="pagination">
    <button class="prev-button">Prev</button>
    <span class="current-page"></span>
    <button class="next-button">Next</button>
  </div>
</div>

<script type="text/javascript">
  (function() {
    function fetchGet(url) {
      return new Promise((resolve, reject) => {
        const req = new XMLHttpRequest();

        req.onreadystatechange = function() {
          const res = req.response;
          if (req.readyState === 4 && req.status === 200) {
            const resJSON = JSON.parse(res);
            resolve(resJSON);
          }
          if (req.status === 404 || req.status === 403 || req.status === 500) {
            reject(req.statusText);
          }
        };

        req.open('GET', url);
        req.send();
      });
    }

    class ArticleRepository {
      fetchArticlesWithPagination(params) {
        if (!params) {
          params = {};
        }
        const page = params.page || 0;
        const perPage = params.perPage || 10;
        const url = `http://localhost:13000/api/articles?page=${page}&per_page=${perPage}`;
        return fetchGet(url)
          .then((res) => {
            res.next_page = Number(res.next_page);
            res.per_page = Number(res.per_page);
            res.articles = res.articles.map((raw) => new Article(raw));
            return res;
          })
          .catch((error) => {
            throw error;
          });
      }
    }

    class Article {
      constructor(opts) {
        this.title = opts.title;
        this.body = opts.body;
        this.createdAt = opts.created_at; // TODO: js parse date
        this.updatedAt = opts.updated_at;
      }
    }

    class ArticlesPresenter {
      constructor($element) {
        this.$element = $element;
        this.articleView = new ArticlesView(this.$element);
        this.pagerView = new PagerView(this.$element)
        this.articles = [];

        document.addEventListener('changeArticlePage', this.changeArticlePage.bind(this));

        this.updateArticlesAndRender();
      }

      updateArticlesAndRender(page, perPage) {
        this._updateArticlesAndPagenationState(page, perPage)
          .then(() => {
            this.articleView.render(this.articles, this.perPage, this.nextPage);
            this.pagerView.render(this.perPage, this.nextPage);
          })
          .catch((err) => {
            console.error(err);
          })
      }

      changeArticlePage(e) {
        const page = e.detail.page;
        const perPage = e.detail.perPage;
        this.updateArticlesAndRender(page, perPage);
      }

      _updateArticlesAndPagenationState(page, perPage) {
        const params = {page, perPage};
        const articleRepos = new ArticleRepository();
        return articleRepos.fetchArticlesWithPagination(params)
          .then((res) => {
            this.articles = res.articles;
            this.nextPage = res.next_page;
            this.perPage = res.per_page;
          })
          .catch((err) => {
            return err;
          })
      }
    }

    class PagerView {
      constructor($element) {
        this.$container = $element;
        this.$pagination = this.$container.querySelector('.pagination');
        this.$prevButton = this.$pagination.querySelector('.prev-button');
        this.$nextButton = this.$pagination.querySelector('.next-button');
        this.$currentPage = this.$pagination.querySelector('.current-page');
        this.$pagination.addEventListener('click', (e) => {
          const perPage = Number(this.$pagination.getAttribute('data-per-page'));
          switch (e.target.className) {
            case 'prev-button':
              const $prevButton = this.$prevButton;
              const prevPage = Number($prevButton.getAttribute('data-prev-page'));
              const changeArticlePagePrevEvent = new CustomEvent('changeArticlePage', {
                detail: {
                  perPage: perPage,
                  page: prevPage,
                },
              });
              document.dispatchEvent(changeArticlePagePrevEvent);
              break;
            case 'next-button':
              const $nextButton = this.$nextButton;
              const nextPage = Number($nextButton.getAttribute('data-next-page'));
              const changeArticlePageNextEvent = new CustomEvent('changeArticlePage', {
                detail: {
                  perPage: perPage,
                  page: nextPage,
                },
              });
              document.dispatchEvent(changeArticlePageNextEvent);
              break;
            default:
              console.error(e);
          }
        })
      }

      _paginationElement(perPage, nextPage) {
        const $pagination = this.$pagination;
        const $nextButton = this.$nextButton;
        const $prevButton = this.$prevButton;

        $pagination.setAttribute('data-per-page', perPage);

        if (nextPage === 1) {
          $prevButton.setAttribute('hidden', true);
        } else {
          $prevButton.removeAttribute('hidden');
        }
        $nextButton.setAttribute('data-next-page', nextPage);
        $prevButton.setAttribute('data-prev-page', nextPage-2);

        const $currentPage = this.$currentPage;
        const $currentPageText = document.createTextNode(`page ${nextPage}`);
        $currentPage.innerHTML = '';
        $currentPage.appendChild($currentPageText);
      }

      render(perPage, nextPage) {
        this._paginationElement(perPage, nextPage);
      }
    }

    class ArticlesView {
      constructor($element) {
        this.$container = $element;
        this.$articles = this.$container.querySelector('.articles');
      }

      _articleElement(article) {
        const $article = document.createElement('div');
        const $title = document.createElement('h3');
        const $body = document.createElement('p');

        const $titleText = document.createTextNode(article.title);
        const $bodyText = document.createTextNode(article.body);

        $title.appendChild($titleText);
        $body.appendChild($bodyText);

        $article.appendChild($title);
        $article.appendChild($body);

        return $article;
      }

      render(articles, perPage, nextPage) {
        this.$articles.innerHTML = '';
        articles.forEach((article) => {
          const $article = this._articleElement(article);
          this.$articles.appendChild($article);
        });
      }
    }

    const $articlesContainer = document.querySelector('.articles-container');
    const articlesPresenter = new ArticlesPresenter($articlesContainer);
  })();
</script>
[% END # WRAPPER %]
